body {
  background-color: #333;
  color: #f5f5f5;
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.portfolio {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
}

.portfolio-item-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.portfolio-item {
  display: flex;
  background-color: #666;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  box-sizing: border-box;
}

.portfolio-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-right: 15px;
}

.portfolio-details {
  flex: 1;
}

.portfolio-title {
  font-size: 1.2em;
  margin: 0;
}

.portfolio-description {
  font-size: 1em;
  color: #ddd;
}
